spring:

  profiles:
    default: dev

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml

  jpa:
    hibernate:
      ddl-auto: validate

  session:
    redis:
      repository-type: default

server:
  servlet:
    context-path: /api
