spring:

  profiles:
    default: dev

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml

  jpa:
    hibernate:
      ddl-auto: validate

  session:
    redis:
      repository-type: default

  servlet:
    multipart:
      enabled: true
      max-file-size: 30MB
      max-request-size: 300MB

server:
  servlet:
    context-path: /api
